<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Invoice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/newinvoicestyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

<div th:replace="~{fragments/nav :: sidebar}"></div>

<div class="main-wrapper">

    <div th:replace="~{fragments/nav :: topbar}"></div>

    <div class="content-area">

        <div class="container">
            <div th:replace="~{fragments/invoice-form :: invoiceForm('/api/invoices/update', 'Edit Invoice')}"></div>
        </div>

    </div>
</div>

<script src="/js/newinvoicescript.js?v=13"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>